@media screen and (max-height:600px)
{
.card{
    width:500px;
    height:300px;
    margin-left:50px;
    margin-top:90px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px;

}
}
@media screen and (min-height:610px)
{
    .card{
        width:500px;
        height:300px;
        margin-left:180px;
        margin-top:90px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 10px;
    }

}
@media screen and (max-width:360px)
{
    .card{
        width:130px;
        height:230px;
        margin-left:32px;
        margin-top:130px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 10px;
        font-size: 16px;
    }
    .card .card-header,.card .card-footer
    {
       font-size: 16px; 
     }

}
@media screen and (max-width:320px) 
{
    .card{
        width:90px;
        height:240px;
        margin-left:5px;
        margin-top:130px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 10px;
    }
    .card .card-header,.card .card-footer
    {
       font-size: 20px; 
     }

}
@media screen and (max-width:415px)
{
    .card{
        width:360px;
        height:290px;
        margin-left:20px;
        margin-top:160px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 10px;
        font-size: 20px;
    }
    .card .card-header,.card .card-footer
    {
       font-size: 20px; 
     }

}

#finaltext{
    text-align: center;
    margin-top:100px;
    font-display: bold;
    font-size:30px;
}.card .card-header,.card .card-footer{
    background-color:#A0A7A7    ;
 }
 #next{
     background: #F3E6F0  ;
 }

