<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="column">
      
    <div class="card animated bounce">
           <div class="card-body">
          <h5 class="card-title">Chennai drought</h5>
          <p class="card-text">Chennai’s aspirations to grow into a global economic hub appear considerably weakened as it struggles to find water.</p>
          <button class="button"onclick="window.location.href='https://www.thehindu.com/opinion/editorial/a-city-gone-dry/article28138343.ece'"><span>Read More </span></button>
        </div>
      </div>
    </div>
    <div class="column">
     <div class="card animated bounce">
        <div class="card-body">
          <h5 class="card-title">Hyderabad</h5>
          <p class="card-text"><br><br>Hyderabad has just 48 days of drinking water left<br><br></p>
          <button class="button" onclick="window.location.href='https://timesofindia.indiatimes.com/city/hyderabad/city-has-just-48-days-of-drinking-water-left/articleshow/70198833.cms'"><span>Read More </span></button>
      </div>
    </div>
    
  </div>
  <div class="column">

    <div class="card animated bounce">
      <div class="card-body">
        <h5 class="card-title">India’s water crisis deepens as Hyderabad might run out of water, like Chennai</h5>
        <p class="card-text"> Since july 1 hyderabad witnessed less rainfall than normal rainfall</p>
        <button class="button" onclick="window.location.href='https://www.businessinsider.in/water-crisis-hyderabad-may-not-have-drinking-water-in-next-48-days/articleshow/70223928.cms'"><span>Read More </span></button>
    </div>
  </div>
  
  </div>
  </div>
  <br>
  <br>
  <div class="footer">
    <br>
    <br>
    <h1>Follow us at.....</h1>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
  </div>
