<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
<div class="bg2">
  <h1 id="bf">𝙒𝙤𝙪𝙡𝙙 𝙪 𝙡𝙞𝙠𝙚 𝙩𝙤 𝙘𝙝𝙚𝙘𝙠 𝙪𝙧 𝙘𝙤𝙣𝙩𝙧𝙞𝙗𝙪𝙩𝙞𝙤𝙣 𝙩𝙤𝙬𝙖𝙧𝙙𝙨</h1>
  <h1 id="bf2"> 𝙒𝙖𝙩𝙚𝙧 𝙘𝙤𝙣𝙨𝙚𝙧𝙫𝙖𝙩𝙞𝙤𝙣????</h1>
  </div>
  <div class="bg">
  <div class="card">
   <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  </div>

