
  
  h1{
      font-size: 60px;
  }
  
  .navbar-brand{
      font-size:40px;

  }
 
.bg{
    background-image:url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=655&q=80");
    background-position:center;
    opacity:9;
    filter:alpha(opacity=40);
    background-size:cover;
    background-repeat: no-repeat;
}
@media screen and (min-height:610px)
{
.bg{ 
    height:720px;
}

    #btn{
     size:80px;
     margin-left:160px;
 } 
 h1{
     float:left;
 }
}
@media screen and (max-width:320px)
{
    .navbar{
        min-width:320px;
    }
    .bg{
        width:350px;
        height:650px;
    }
   
        #btn{
        float:right;
         size:30px;
         margin-left:30px;
     } 
     .navbar-brand{
        font-size:30px;
        margin-left:1px;
    }

}
@media screen and (max-width:415px)
{
    
    .bg{
        width:420px;
        height:890px;
    }

}

@media screen and (max-height:600px)
{
.bg{
    height:600px;
}
}
@media screen and (max-width:360px)
{
.bg{
    
    width:380px;
}



}
@media screen and (min-width:1000px)
{
    
        #btn{
         size:80px;
        margin-left:20px;
     } 

}
i{
    font-size: 30px;
    color:blue;
}
